.contain{
    float: left;
    padding-top: 100px !important;
    padding-left: 100px;
}
body
{
    background-color: #0f0f0f;
    color: white;
}
.bo{
    margin-top: 200px;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }

/****Profil****/
.nomdujeu{
    text-align: center;
    margin-bottom: 25px;
}
.infosjeu{
    background-color: #404040;
    padding: inherit !important;
    margin-left: 15px;
    margin-right: 15px;
}
